/* ALL COMMON CSS START */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul , ol {
    list-style-type: none;
}
/* ALL COMMON CSS END */

/* STYLE CSS START */
#header{
    height: 151px;
    align-items: center;
}
.header{
    height: 83px;
    width: 1170px;
    margin: 33px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logopart img{
    height: 83px;
}
.list ul{
    display: flex;
    align-items: center;
}
.list ul li{
    margin: 0 44px;
}
.ContactUsbutton button{
    height: 48px;
    width: 144px;
    border: 0;
    border-radius: 10px;
    background-color: #5956E8;
}
/* STYLE CSS END */