/* all common css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* google fonts */
    font-family: "Inter", sans-serif;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
/* all common css end */

/* css styling start */

/* header part style start */
#headerPart{

}
.headerflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 33px;
    padding-top: 33px;
}
.logo img{
    height: 83px;
}
.list{
    align-items: center;
}
.list ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}
.list ul , li{
    color: #181818;
    font-weight: 500;
}
.list ul,li:hover{
    color: #5956E8;
    transition: 0.1s;
}
.btn{
    
}
.btn button{
    height: 48px;
    width: 144px;
    border: 0;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #5956E8;
    font-weight: 500;
}

/* header part style end */

/* banner part style sart */
#bannerPart{
    background-color: #5956E8;
}
.bannerflex{
    display: flex;
    padding-top: 218px;
    padding-bottom: 179px;
    align-items: center;
    justify-content: space-between;
}
.bannertxt{
    color: #FFFFFF;
}
.bannertxt h1{
    /* height: 240px; */
    width: 501px;
    font-weight: 700;
    font-size: 65px;
}
.bannertxt p{
    /* height: 81px; */
    width: 542px;
    padding-top: 26px;
    padding-bottom: 28px;
    font-size: 16px;
}
.bannertxt button{
    height: 48px;
    width: 144px;
    background-color: #FFFFFF;
    color: #5956E8;
    font-size: 18px;
    font-weight: 500;
    border: 0;
    border-radius: 10px;
}
/* banner part style end */
/* card part start */
#cardPart{

}
.Services{
    padding: 107px;
    width: 750px;
    margin: 0 auto;
    text-align: center;
}
.Services h2{
    font-weight: 700;
    font-size: 40px;
}
.Services p{
    font-size: 16px;
    color: #181818;
}

/* card part end */

/* css styling end */